.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal {
  position: relative;
  border-radius: 30px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: hidden;
}

.buttonModal {
  padding: 20px 20px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: flex;
}