.teacherWrapper {
    background-color: var(--light-gray);
    min-width: 100vh;
    padding-top: 20px;
}

.container {
    max-width: 1214px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}