.wrapper {
  position: relative;
  width: 221px; 
  margin-top: 96px;
}

.label {
  margin-bottom: 8px;
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;  
}

.select {
  background-color: var(--white);
  border-radius: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.9;
  color: var(--dark-gray);
  display: flex;
  padding: 14px 14px 14px 18px;
  justify-content: space-between;
  align-items: center;
  white-space: normal;
  overflow-wrap: anywhere;
}

.select span, .select {
  overflow: visible;
  text-overflow: unset;
}

.selectLevel {
  width: 423px;
}

.arrow {
  margin-left: 8px;
}

.customDropDown {
  position: absolute;
  top: calc(100% + 4px); 
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white);
  border-radius: 12px;
  color: var(--gray-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.option {
  padding: 6px 12px;
  cursor: pointer;
}

.option:hover {
  background: var(--white);
  color: var(--dark-gray);
}

.active {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}